body {
  font-size: 25px;
  font-family: Arial, sans-serif;
}


@font-face {
    font-family: 'mell';
    src: url('RubikMonoOne.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mell', cursive;
}

.page-index img {
  border: 2px solid #ccc;
}

.header {
  background-color: #39bcedff;
}

.footer {
  background-color:  #8967acff;
}

.button {
  background-color:  #8967acff;
}
