:root {
  --color: #57a445; } body { font-size: 25px;
  font-family: "MellSans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MellMono', sans-serif;
  font-style: italic;
  font-weight: normal;
}

.page-index img {
  border: 2px solid #ccc;
}

.header {
  background-color: white;
}

.footer {
  color: white;
  background-color:  #8967acff;
}

.button {
  background-color:  #8967acff;
}

.chapters {
  font-size: 50px;
}


.content h1 {  
  font-size: 100px;
}


h2 {
  font-size: 50px;
  font-weight: bold;
  color: #009fda;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
  color: rgb(55, 55, 55);
}
.presentation-controls {
  visibility: hidden;
}

.definition, .theorem {
  border-left : 3px solid black;
  padding: 0 10px;
  color: black;
  position: relative;
}

.definition:before {
  content:"DEFINITION:";
  font-size: 30px;
  font-weight: bold;
}

.theorem:before {
  content:"THEOREM:";
  font-size: 30px;
  font-weight: bold;
}

.presentation {

  img, .definition, .theorem, table, pre, .prev-next {
    margin: 600px 0px;
  }

  .definition img {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1000px 50px;
  }

  .presentation-controls {
    visibility: visible;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    text-align: center;
    .button {
      line-height: 0;
    }
  }
}

