body {
  line-height: 1.5;
  margin: 0;

  font-size: 20px;
}

.header {
  color:white;
  background-color: gray;
  width: 100%;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2%;
}

.footer {
  color:white;
  background-color: gray;
  width: 100%;
  font-size: 40px;
}
.header a {
  color: white;
  text-decoration: none;
}
.footer a {
  color: white;
}

pre {
  background-color: gray;
  color:#fff;
  padding: 7px 7px 7px 10px;
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  font-family: 'Source Code Pro', monospace;
  white-space: pre-wrap;
}

blockquote {
  border-left: 4px dotted #666;
  padding: 0 10px;
  color: #666;
}











@font-face {
    font-family: 'mell';
    src: url('RubikMonoOne.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mell', cursive;
}


h1 {  
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 10px;
  color: gray;
}


a {
  color: gray;
  cursor: pointer;
}

table {
  border: 3px solid blue;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed
}
table td, table th {
  border: 1px solid blue;
  padding: 5px 4px;
}
table tbody td {
}
table thead {
  background: blue;
  color: white;
  border-bottom: 3px solid blue;
}
table thead th {
  font-weight: bold;
  text-align: left;
}
table tfoot {
  font-weight: bold;
  border-top: 3px solid blue;
}
