<!DOCTYPE html>
  <html>
    <head>
      <title> {{site.name}} - {{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css">

      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/custom-style.css">

  <script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};

</script>

<script type="text/javascript" id="MathJax-script" 
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
    </head>

    <body>
      <div class="header">
        <div class="container">
          <a href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/logo.svg" class="logo">
          </a>
        </div>
      </div>
      <div class="container page-{{page.title}}">
        <!--<h1>{{page.title}}</h1> -->

        <div class="prev-next">
        {% if page.previous.url %}
          <a class="button" href="{{site.baseurl}}{{page.previous.url}}">&laquo;prev</a>
        {% endif %}
        {% if page.next.url %}
          <a class="button" href="{{site.baseurl}}{{page.next.url}}">next&raquo;</a>
        {% endif %}
        </div>

        {{ content }}

        <div class="prev-next">
        {% if page.previous.url %}
          <a class="button" href="{{site.baseurl}}{{page.previous.url}}">&laquo;prev</a>
        {% endif %}
        {% if page.next.url %}
          <a class="button" href="{{site.baseurl}}{{page.next.url}}">next&raquo;</a>
        {% endif %}
        </div>
        <script type='text/javascript' src='https://ko-fi.com/widgets/CounterWidget.js'></script><script type='text/javascript'>counterwidget.init('K3K539YDO');counterwidget.draw();</script>
      </div>
      <div class="footer">
        <div class="container chapters">
          <h1>Contents</h1>
          {% for chapter in site.chapters %}
            <p><a href="{{chapter.url  | prepend:site.baseurl}}">{{chapter.title}}</a></p>
          {% endfor %}
          <!--
          <h1>Download</h1>
          <p><a href="{{site.baseurl}}{{site.baseurl}}.epub">as epub</a></p>
          <p><a href="{{site.baseurl}}{{site.baseurl}}.txt">as txt</a></p>
          -->
        </div>
      </div>
      <div class="footer" style="background-color:#39bcedff">
        <div class="container">

          <h1>Created by Jencel Panic</h1>
          <p><a target="_blank" href="/">personal blog</a></p>
          <p><a href="mailto:marinovboris@protonmail.com">email</a></p>
          <p><a rel="me" target="_blank" href="https://mathstodon.xyz/@abuseofnotation">mastodon</a></p>
          <p><a target="_blank" href="https://twitter.com/AlexanderKatt/">twitter</a></p>
          <p><a target="_blank" href="https://github.com/abuseofnotation/category-theory-illustrated">Github</a></p>

          <h1>Support this project</h1>
          <p><a target="_blank" href="https://ko-fi.com/abuseofnotation">Ko-fi</a></p>
          <p><a target="_blank" href="https://patreon.com/borismarinov">Patreon</a></p>
      </div>
      </div>
      <div class="footer">
        <div class="container">
          <p>
          <i>
            Made with <a target="_blank" href="https://github.com/boris-marinov/jekyll-book-boilerplate"> Jekyll Book Boilerplate</a>. 

            Drawn in <a target="_blank" href="https://inkscape.org">Inkscape</a>. 

            Written with <a target="_blank" href="https://www.vim.org">vim</a>. 
          </i>
          </p>


        </div>
      </div>
      <div class="footer" style="background-color:#dc7100">
        <div class="container">
          <p>
This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
          </p>
        </div>
      </div>
    </body>



